#header-and-content {
  background-image: url("./assets/bg-image.svg");
}

nav ul {
  max-width: 50vw;
  margin: 28px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul li {
  list-style-type: none;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 120px;
  position: relative;
  padding-bottom: 50px;
  min-height: 660px;
}

.bg-title {
  color: #393E46;
  opacity: 0.5;
  mix-blend-mode: screen;
  font-weight: 700;
  font-size: 283.333px;
  line-height: 425px;
  letter-spacing: -0.02em;

}

.info-container {
  margin-left: 20px;
  padding: 2px;
  margin-top: -135px;
  margin-bottom: 95px;
}

.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  letter-spacing: -0.02em;
}

.line {
  width: 192px;
  border: 7px solid #FD7D02;
  border-radius: 10px;
  margin: 21px 0;
}

.role {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.parent-box {
  width: 325px;
  height: 325px;
  box-sizing: border-box;
  position: absolute;
  right: 200px;
  top: -165px;
  border-bottom-right-radius: 100px;
  border-bottom: 3px solid #FD7D02;
  border-right: 3px solid #FD7D02;
  transform: rotate(45deg);
  padding: 40px;
  background-color: #222831;
}

.child-box {
  position: absolute;
  width: 115%;
  height: 115%;
  top: -100px;
  left: -100px;
  background-color: #133C3E;
  border-radius: 80px;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 33px;
  padding: 20px 140px;
  gap: 48px;
  border-top: 3px solid #FD7D02;
  position: relative;
}

.icon {
  width: 27px;
  height: 27px;
}

.contact-info {
  display: flex;
  gap: 16px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 420px;
  margin-top: 100px;
}

.contact-form>* {
  border-radius: 30px;
  padding: 14px 16px;
}

.contact-form>textarea {
  border-radius: 20px;
  height: 100px;
  margin: 43px 0;
  padding: 10px 14px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.input_container {
  position: relative;
  padding: 0;
}

.input_container>img {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.name_input,
.email_input {
  width: 100%;
  height: 44px;
  border-radius: 30px;
  padding: 0 15px 0 60px;
  box-sizing: border-box;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.name_input:focus,
.email_input:focus {
  border: 1px solid #FEB238;
}

.submit_btn {
  background-color: #133C3E;
  color: white;
  border: 1px solid #7E5BEF
}

.paragraph-container {
  width: 50%;
}

.paragraph {
  margin: 20px 0;
  font-size: 24px;
  line-height: 40px;
}

.who-am-i {
  font-size: 100px;
  line-height: 150px;
  margin: 0 auto;
}

.who-am-i-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  margin: 0 auto;
  margin-top: -70px;
}

.skills{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.skill_list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.skill_list > li {
  margin: 5px 0 0 20px;
  font-size: 20px;
}

.heading {
  font-size: 30px;
}

.github_link {
  font-size: 30px;
  display: block;
  color: rgb(76, 180, 214);
  margin: 30px auto; 
}
